html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
	font-size: 24px;
}

.app {
	width: 100%;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.weather {
	max-width: 80%;
	height: 435px;
	margin: 0 auto;
	box-sizing: border-box;
	border: 1px solid #000000;
}

.weather__search {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 30px;
	border-bottom: 1px solid #000000;
}

.search__input {
	width: calc(100% - 4px);
	padding: 0 15px;
	font-size: 18px;
	border: none;
}

.search__button {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 30px;
	min-height: 30px;
	background-color: transparent;
	border: none;
}

.weather__content {
	height: 100%;
	display: flex;
}

.weather__city {
	width: 50%;
	height: calc(100% - 30px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.city__content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 10px 10px;
}

.content__temperature {
	font-size: 70px;
}

.content__image {
	margin: 50px 0;
	font-size: 40px;
	text-align: center;
}

.content__city {
	display: flex;
	justify-content: space-between;
}

.content__name {
	font-size: 24px;
}

.content__icon {
	position: relative;
	width: 20px;
	height: 20px;
}

.content__checkbox {
	opacity: 0;
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.content__shape {
	position: absolute;
	top: 1px;
	left: 4px;
	width: 100%;
	height: 100%;
	background-image: url('../common/icons/heart-regular.svg');
}

.content__checkbox:checked ~ .content__shape {
	background-image: url('../common/icons/heart-solid.svg');
}

.tabs {
	position: relative;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	border-top: 1px solid #000000;
}

.tabs__item {
	flex: 1 1 auto;
	margin: 10px auto;
	text-align: center;
}

.weather__favorites {
	width: 50%;
	height: calc(100% - 30px);
	display: flex;
	flex-direction: column;
	border-left: 1px solid #000000;
}

.favorites__header {
	max-width: 100%;
	padding: 20px 10px 5px;
	border-bottom: 1px solid #000000;
}

.list {
	padding: 20px 10px;
}

.list__item {
	margin-bottom: 20px;
	cursor: pointer;
}

.list__item:hover {
	background-color: rgba(0, 0, 0, 0.2);
}